html,
body {
  padding: 1em;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #eee;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

h1 a {
  color: #0070f3;
  text-decoration: none;
}

h1 a:hover,
h1 a:focus,
h1 a:active {
  text-decoration: underline;
}

h1 {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  text-align: center;
}

code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.content-item {
  display: flex;
  align-items: center;
  margin-bottom: 2em;
}

.content-item picture img {
  border-radius: 50%;
  border: 4px solid transparent;
  transition: border-color 0.2s ease;
  margin-right: 1.5em;
}

.content-item:hover {
  cursor: pointer;
}

.content-item:hover picture > img,
.content-item:focus picture > img,
.content-item:active picture > img {
  border-color: #0070f3;
  transition: border-color 1s ease;
}

.content-item h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.content-item p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
    background-color: #222;
  }

  body {
    color: white;
    background-color: #222;
  }

  section,
  footer {
    border-color: #333;
  }

  code {
    color: #eee;
    background: #111;
  }
}
