<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>atmin</title>
    <meta name="description" content="Atanas Minev" />
    <link rel="icon" href="/favicon.ico" />
    <style is:global>
      html,
      body {
        padding: 1em;
        margin: 0;
        font-family:
          -apple-system,
          BlinkMacSystemFont,
          Segoe UI,
          Roboto,
          Oxygen,
          Ubuntu,
          Cantarell,
          Fira Sans,
          Droid Sans,
          Helvetica Neue,
          sans-serif;
        background-color: #eee;
      }

      a {
        color: inherit;
        text-decoration: none;
      }

      * {
        box-sizing: border-box;
      }

      main {
        min-height: 100vh;
        padding: 4rem 0;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      @media (prefers-color-scheme: dark) {
        html {
          color-scheme: dark;
          background-color: #222;
        }

        body {
          color: white;
          background-color: #222;
        }

        section,
        footer {
          border-color: #333;
        }

        code {
          color: #eee;
          background: #111;
        }
      }
    </style>
  </head>
  <body>
    <slot />
    <style></style>
  </body>
</html>
