html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

h1 a {
  color: #0070f3;
  text-decoration: none;
}

h1 a:hover,
h1 a:focus,
h1 a:active {
  text-decoration: underline;
}

h1 {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  text-align: center;
}

code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.content-item {
  display: flex;
  align-items: center;
  margin-bottom: 2em;
}

.content-item picture img {
  border-radius: 50%;
  border: 4px solid transparent;
  transition: border-color 0.2s ease;
  margin-right: 1.5em;
}

.content-item:hover {
  cursor: pointer;
}

.content-item:hover picture > img,
.content-item:focus picture > img,
.content-item:active picture > img {
  border-color: #0070f3;
  transition: border-color 1s ease;
}

.content-item h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.content-item p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
  section,
  footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotateY(0);
  }
  to {
    -webkit-transform: rotateY(-360deg);
  }
}
@keyframes spin {
  from {
    transform: rotateY(0);
  }
  to {
    transform: rotateY(-360deg);
  }
}
#container,
#viewer {
  width: 100%;
  height: 100%;
}
#viewer {
  position: absolute;
  left: 50%;
  top: 100px;
  margin-left: -320px;
  width: 640px;
  height: 360px;
  -webkit-transition: -webkit-transform 3s;
  transition: transform 3s;
  -webkit-perspective: 600px;
  perspective: 600px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
#cube {
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-origin: 50% 50% 750px;
  //-webkit-animation: spin 12s infinite linear;
  //animation: spin 12s infinite linear;
  -webkit-transform: translateZ(-150px);
  transform: translateZ(-150px);
}
#cube img {
  position: absolute;
  width: 1500px;
  height: 1500px;
  top: 50%;
  left: 50%;
  margin-top: -750px;
  margin-left: -750px;
  opacity: 0.8;
  -webkit-transition: -webkit-transform 3s;
  transition: transform 3s;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.front {
  -webkit-transform: translateZ(750px) translateZ(-750px);
  transform: translateZ(750px) translateZ(-750px);
}
.right {
  -webkit-transform: translateZ(750px) rotateY(-90deg) translateZ(-750px);
  transform: translateZ(750px) rotateY(-90deg) translateZ(-750px);
}
.left {
  -webkit-transform: translateZ(750px) rotateY(90deg) translateZ(-750px);
  transform: translateZ(750px) rotateY(90deg) translateZ(-750px);
}
.back {
  -webkit-transform: translateZ(750px) translateZ(750px) rotateY(180deg);
  transform: translateZ(750px) translateZ(750px) rotateY(180deg);
}
.top {
  -webkit-transform: translateZ(750px) rotateX(-90deg) translateZ(-750px);
  transform: translateZ(750px) rotateX(-90deg) translateZ(-750px);
}
.bottom {
  -webkit-transform: translateZ(750px) rotateX(90deg) translateZ(-750px);
  transform: translateZ(750px) rotateX(90deg) translateZ(-750px);
}
